{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h1>How to prepare for interviews?</h1>
    <p style="line-height: 26px;">Find out your strengths and weaknesses (what you are doing to beat your weaknesses points) Read about the history of the company Go further and read some articles about the company's industry - show to the interviewer you are prepared If you know
        the interviewer's name, memorize the name and call him by his name Always look in the eyes of the interviewer Look for frequently asked questions and put it on pape
        <br> <br>The most important tip is to network; make as many friends as you can related to your field. Reach out to those people you felt comfortable around and shared good chemistry with. If you make a connection with someone in the company, the
        pressure to perform perfectly in the interview won't be as high. Interviewers know it's difficult to really know a person during an interview, so they are usually scanning for basic interpersonal skills. Show that you can work well with others,
        motivate yourself, and push through stressful situations calmly and efficiently. Try to have four or five stories about yourself from the past and try to redirect questions toward these stories during the interview. Make sure to choose instances
        from your past that highlight your positive qualities, including your ability to learn from or perform during difficult situations.</p>
    <div class="vid">
    <iframe style="margin-left: 100px;" width="420" height="315" src="https://www.youtube.com/embed/qpkegRmPgis?autoplay=1&mute=1"></iframe>
    <iframe style="margin-left: 100px;" width="420" height="315" src="https://www.youtube.com/embed/aAHKkBxrVoY?autoplay=1&mute=1"></iframe>
    <iframe style="margin-left: 100px;" width="420" height="315" src="https://www.youtube.com/embed/hyommGFFQlo?autoplay=1&mute=1"></iframe>
    <br><br><br>
    <iframe style="margin-left: 100px;" width="420" height="315" src="https://www.youtube.com/embed/enD8mK9Zvwo?autoplay=1&mute=1"></iframe>
    <iframe style="margin-left: 100px;" width="420" height="315" src="https://www.youtube.com/embed/BXbTJHkJX1E?autoplay=1&mute=1"></iframe>
    <iframe style="margin-left: 100px;" width="420" height="315" src="https://www.youtube.com/embed/HG68Ymazo18?autoplay=1&mute=1"></iframe>
    

<div class="footer ">
        <footer>
            <div class="footer-basic ">
                <div class="social ">
                    <br>
                    <a href="https://www.instagram.com/cloudcounselage/ "><i class="icon ion-social-instagram "></i></a>
                    <a href="https://www.linkedin.com/company/cloud-counselage/ "><i class="fa fa-linkedin " aria-hidden="true "></i></a>
                    <a href="https://twitter.com/CloudCounselage "><i class="icon ion-social-twitter "></i></a>
                    <a href="https://www.facebook.com/CloudCounselage/ "><i class="icon ion-social-facebook "></i></a></div>
                <ul class="list-inline ">
                    <li class="list-inline-item "><a href="# ">Home</a></li>
                    <li class="list-inline-item "><a href="{% url 'app:scope' %} ">Services</a></li>
                    <li class="list-inline-item "><a href="{% url 'app:about' %} ">About</a></li>
                    <li class="list-inline-item "><a>Privacy Policy</a></li>
                    <br><br>
                </ul>
                <p class="copyright ">Cloud Counselage REGISTERED OFFICE: Cloud Counselage Pvt. Ltd., 91 Springboard, 1 & 2 Floor, Kagalwala House, Behind Metro House,<br> Plot No. 175, CST Road, BKC, Kalina, Mumbai - 400098 <br><br> CORPORATE OFFICE: <br> Cloud Counselage
                    Pvt. Ltd., 91 Springboard, Godrej & Boyce Industry Estate, Gate No. 2,<br> Plant No. 6, Opp. Vikhroli Bus Depot, Vikhroli - West, Mumbai - 400079<br><br></p>
            </div>
    </div>
    </footer>
    </div>
    </div>
</body>

</html>